body, label, input, textarea, select, button, div, button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #EEE;
    background-color: #000;
}
.front-container {
    position: absolute;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 240px;
    height: 100%;
    display: table;
    width: 100%;
}
.front-bg {
    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;
    background: #000;
}
.front-bg img {
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    display: block;
}
.front-content {
    max-width: 1024px;
    margin: 0px auto;
    padding: 20px 0;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.logo {
    margin-bottom: 30px;
    text-align: center;
}
.logo img {
    min-width: 20px;
    border: none;
    padding: 0;
    margin: 0;
    max-width: 95%;
}
.title {
    margin-bottom: 40px;
}
.title h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-align: center;
    text-transform: uppercase;
}
.title p {
    font-size: 24px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    text-align: center;
    line-height: 1.425;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
}
.countdown-box {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
    background: transparent url(../images/45stripe_bg.png) 0 0 repeat;
    margin: 40px auto;
    margin-top: 0;
    text-align: center;
    line-height: 58px;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 100;
    padding: 25px 50px 17px 50px;
    display: inline-block;
    box-sizing: border-box;
}
.number-box {
    display: inline-block;
    vertical-align: top;
}
.digit-box-last {
    margin-left: 5px;
}
.number-box span {
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 1.425;
}
.digit-box {
    display: inline-block;
    border: 1px solid #888;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.6;
    vertical-align: middle;
    width: auto;
    padding: 0 0.35em;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
}
#days-sh {
    margin-right: 5px;
    display: none;
}
.social-icons {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.social-icons a, .social-icons a:visited {
    text-decoration: none;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -khtml-transition-duration: .3s;
}
.social-icons a:active, .social-icons a:hover {
    text-decoration: none;
}
.optin-box {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
    background: transparent url(../images/45stripe_bg.png) 0 0 repeat;
    max-width: 640px;
    margin: 40px auto;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    padding: 0;
    position: relative;
}

.optin-box table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.optin-box table td, .optin-box table th {
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.optin-box table td {
    padding: 0;
}
.optin-box table td.button-cell {
    /*width: 150px;*/
    width: auto;
}
.optin-box table td input {
    width: 100%;
    margin: 0px;
    box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 2px #000;
    -o-box-shadow: 0 1px 2px #000;
    -khtml-box-shadow: 0 1px 2px #000;
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;
    -o-border-radius: 2px 0px 0px 2px;
    -khtml-border-radius: 2px 0px 0px 2px;
    font-size: 18px;
    line-height: 2.5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    border: 1px solid #888;
    font-weight: 100;
    border-right: 1px solid transparent;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -khtml-transition-duration: .3s;
}
.optin-box table td button {
    border: 1px solid #888;
    border-left: 1px solid transparent;
    margin: 0;
    box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 2px #000;
    -o-box-shadow: 0 1px 2px #000;
    -khtml-box-shadow: 0 1px 2px #000;
    display: block;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 100;
    line-height: 2.5;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
    -khtml-border-radius: 0px 2px 2px 0px;
    vertical-align: middle;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    -khtml-transition-duration: .3s;
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: -1px;
}
.optin-box table td button:hover, .optin-box table td button:active {
    background: #304860;
    background: rgba(128,192,255,0.4);
}
.optin-box form {
    margin: 0;
    padding: 0;
}
.optin-box .loading {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
    -o-opacity: 0.3;
    -khtml-opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity="30");
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    z-index: 999;
    background-color: #000;
    background-image: url(../images/loading.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.optin-box .message {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
    display: none;
}
.optin-box .success {
    color: rgb(128,255,164);
}
.optin-box .error {
    color: rgb(255,164,164);
}
.copyright {
    margin: 0px auto;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 100;
    padding: 0;
}

@media screen and (max-width: 720px) {
    .countdown-box {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 580px) {
    .title h1 {
        font-size: 36px !important;
    }
    .title p {
        font-size: 20px !important;
    }
    .copyright {
        font-size: 13px !important;
    }
    .countdown-box {
        width: 100%;
        font-size: 28px !important;
        padding-left: 0;
        padding-right: 0;
        line-height: 50px !important;
    }
    .number-box span {
        font-size: 14px !important;
    }
    .number-box, .digit-box {
        font-size: 28px !important;
    }
    .optin-box table td input {
        font-size: 16px !important;
        height: 40px !important;
    }
    .optin-box table td button {
        font-size: 16px !important;
        height: 40px !important;
    }
    .social-icons {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 28px !important;
    }
    .title p {
        font-size: 16px !important;
    }
    .copyright {
        font-size: 12px !important;
    }
    .countdown-box {
        width: 100%;
        font-size: 22px !important;
        padding-left: 0;
        padding-right: 0;
        line-height: 44px !important;
    }
    .number-box span {
        font-size: 13px !important;
    }
    .number-box, .digit-box {
        font-size: 20px !important;
    }
    .optin-box table td input {
        font-size: 14px !important;
        height: 35px !important;
    }
    .optin-box table td button {
        font-size: 14px !important;
        height: 35px !important;
    }
    .social-icons {
        font-size: 40px !important;
    }
}